
{% extends './layout.html' %}

{% block head %}
<link rel="stylesheet" href="/home/main.css">
{% endblock %}

{% block body%}
    {% block homeBanner %}
    {% endblock %}

<div class="show_time">
    <div class="feature-con">
        <ul class="feature fn-clear">
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">资源 one</h4>
                <p class="des">文字介绍</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">资源 two</h4>
                <p class="des">文字介绍</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">资源 three</h4>
                <p class="des">文字介绍</p>
            </li>
            <li class="feature-item"><i class="ico"></i>
                <h4 class="tit">资源 four</h4>
                <p class="des">文字介绍</p>
            </li>
        </ul>
    </div>
</div>

{% endblock %}